:root {
    --colors-primary: #4A276B;
    --colors-preferred: #f9a826;
}

.dealer-card {
    background-image: url(./icons/chevron-right.svg);
    background-position: center right 10px;
    background-repeat: no-repeat;

    &:not(.preferred):hover, &.active:not(.preferred) {
        background-image: url(./icons/chevron-right-active.svg);
        border-color: var(--colors-primary);
    }

    &.preferred:hover, &.active {
        background-image: url(./icons/chevron-right-preferred.svg);
        border-color: var(--colors-preferred);
    }
}