.dealer-card {
    background-image: url(./icons/chevron-right.svg);
    background-position: center right 10px;
    background-repeat: no-repeat;

    &:not(.preferred):hover, &.active:not(.preferred) {
        background-image: url(./icons/chevron-right-active.svg);
    }

    &.preferred:hover, &.active {
        background-image: url(./icons/chevron-right-preferred.svg);
    }
}